.menu {
  padding-top     : var(--header-height);
  background      : linear-gradient(#B9FBFF33, #E3DCFF33);
  backdrop-filter : blur(30px);
}
.menu-header {
  padding-top    : 21px;
  padding-bottom : 21px;
  padding-left   : var(--menu-padding-left);
  padding-right  : var(--menu-padding-right);
  display        : flex;
  align-items    : center;
}
.menu-title {
  width          : 100%;
  padding-left   : 10px;
  padding-right  : 10px;
  color          : var(--accent-gray-900);
  text-transform : uppercase;
  font-weight    : 900;
}
.menu-title .dot {
  color : var(--accent-red);
}

.menuNav {
  padding-bottom : 20px;
}

.list {
  margin-top       : 1px;
}
.list-title,
.list-item {
  padding-left  : var(--menu-padding-left);
  padding-right : var(--menu-padding-right);
  padding-top   : 20px;
}
.list-item:last-child {
  padding-bottom : 20px;
}

.list-title {font-weight : 600;}
.list-item {color : var(--accent-gray-700);}
.list-link {color : var(--accent-blue);}
